{
  "resourceType": "Parameters",
  "id": "payer-multi-member-match-out",
  "meta": {
    "profile": [
      "http://hl7.org/fhir/us/davinci-pdex/StructureDefinition/pdex-parameters-multi-member-match-bundle-out"
    ]
  },
  "parameter": [{% for param in parameters %}{{ param }}{% if not loop.last %},{% endif %}{% endfor %}
  ]
}